* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background-color: #16161631;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
form {
    display: flex;
    flex-direction: column;
    gap: 2px;
    align-items: center;
    justify-content: center;
}
p{
    text-align: center;
    font-family: 'Comic Sans Ms';
}
form select,button,input {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.5rem;
}
form input {
    border: 1px solid lightgray;
    height: 2rem;
    padding: 12px;
    font-size: 1rem;
    text-align: center;
    background-color: #16161652;
}
form select {
    border: 1px solid lightgray;
    padding: 2px;
    height: 2rem;
    text-align: center;
    background-color: #16161652;
}
form button {
    border: 1px solid lightgray;
    padding: 2px;
    height: 3rem;
    text-align: center;
    background-color: #16161652;
    cursor: pointer;
}
form button p {
    font-weight: bolder;
}
.drops {
    display: flex;
    justify-content: space-between;
}
.options {
    display: flex;
    justify-content: center;
    align-items: center;
}
